.navbar {
    background: white;
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: sticky; */
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: contain;
    width: 5rem;
}

.navMenu {
    background: white;
}

.navItem {
    margin: 1rem;
    color: black;
}

.navItem:hover {
    color: #E1410D;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #E1410D ;
}