.footer {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerTitle {
    font-size: 1.5rem;
}

.footerContact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footerContact *{
    margin: 0.5rem 0.5rem;
}

.top {
    border: none;
}

.top:hover {
    cursor: pointer;
}